# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env

# TypeScript
*.tsbuildinfo
*.js.map

# Build output
/dist/

# Editor-specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Project specific
tmp/